%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
%% Dependencies ================================================================
{deps, []}.

%% Rebar Plugins ==============================================================
{plugins, []}.

%% Compiler Options ============================================================
{erl_opts,
 [debug_info,
  warnings_as_errors]}.

%% EUnit =======================================================================
{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
