%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
%% Dependencies ================================================================
{deps, []}.

%% Rebar Plugins ===============================================================
{plugins, [{rebar3_git_vsn,
              {git, "https://github.com/saleyn/rebar3_git_vsn.git",
              {branch, "master"}}}]}.

%% rebar3_git_vsn plugin:
{provider_hooks, [{post, [{compile, git_vsn}]}]}.
{git_vsn, [{vsn_type, gitver}, {env_key, ignore}]}.

%% Compiler Options ============================================================
{erl_opts,
 [debug_info,
  warnings_as_errors]}.

%% EUnit =======================================================================
{eunit_opts, [%verbose,
              %{report, {eunit_surefire, [{dir, "."}]}}]}.
             no_tty]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
